.productList {
  height: 80vh;
}

.list {
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: min-content;
  width: 100%;
  min-width: 40vw;
  list-style-type: none;
}
