.productList {
  height: 85vh;
}

.list {
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: min-content;
  width: 100%;
  min-width: 50vw;
  list-style-type: none;
}
