.app {
  height: 100%;
}

.contentContainer {
  background: #fff;
  overflow: auto;
  height: 85vh;

  &::-webkit-scrollbar {
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }
}

.header {
  background-color: grey;
  height: 15vh;
}
