.app {
  height: 100%;
}

.contentContainer {
  background: #fff;
  overflow: auto;
  height: 80vh;

  &::-webkit-scrollbar {
    transition: all 0.5s;
    width: 5px;
    height: 1px;
    z-index: 10;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #b3ada7;
  }
}

.header {
  background: #fff;
  height: 20vh;
  img {
    margin-top: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
