@import '../../styles/commons.scss';

.cardItem {
  margin: 24px 0;

  .title {
    margin-bottom: 8px;
    span {
      font-weight: bold;
    }
  }

  .changeQtyButton {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .removeButton {
    background-color: gray;
    border-color: gray;
    border-radius: 50%;
  }
}